---
layout: default
---

<section>
  <div>
    <p>
      <img style="float: middle; padding: 0px 0px 2px 0px;" src="../android-chrome-256x256.png"  height="22.23pt" valign="middle">&nbsp&nbsp<a href="/">Home</a>&nbsp&nbsp<a href="/about-me">CV</a>&nbsp&nbsp<a href="/contact">Contact</a>
    </p>
  </div>
  {{ content }}
</section>


<center>
  <div>
    <br />
    <a href="/contact"><button>reply by email</button></a>
    <a
      href="https://twitter.com/intent/tweet?text={{page.title | urlencode}}%0A%0A{{site.url}}{{page.url | urlencode}}"
      ><button>tweet this</button></a
    >
    <br /><br />
  </div>
</center>
